<% content_for :title, "New comment" %>

<% if turbo_frame_request? %>
  <%= turbo_frame_tag "new_comment_modal" do %>
    <%= render "modal_comment_form", comment: @comment %>
  <% end %>
<% else %>
  <div class="mx-auto max-w-2xl space-y-6">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900">New comment</h1>
    <%= render "form", comment: @comment %>
    <%= link_to "Back to comments", comments_path, class: "text-sm font-medium text-gray-600 hover:text-gray-900" %>
  </div>
<% end %>
